# user www-data;
worker_processes auto;

pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;

events {
	worker_connections 1024;
}

http {
	# access_log off;
	error_log  error;

	server {

		listen 83;
		root /usr/share/nginx/html;


		location / {
			# index index.html;
			try_files $uri $uri/ /index.html;
		}

		# error_page 500 502 503 504 /50x.html;

		# location = /50x.html {
		# 	root /usr/share/nginx/html;
		# }
	}
}

