server {
	listen 81;
	server_name 34.28.23.228;

	root /var/www/html/blog-app;

	access_log /var/log/nginx/blog.log;

	location / {
		try_files $uri $uri/ $uri.html =404;
	}


	error_page 404 /404.html;
}
